body {background-color: lightgray;} /* makes background color light gray */

.center { /* centers the text */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
}

.centerimg { /* centers the image */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  text-align: center;
}

/* I don't completely understand this yet, but it keeps the navbar colored. 
Usually floating to the left would make the navbar 0 pixels, but this block of code keeps it black background */
header::after { 
  content: '';
  display: table;
  clear: both;
}

header { /* Makes the navbar black */
  background-color: black;
}

nav { /* makes all the options float to the left */
  float: left;
}

nav ul { /* removes the points from the typical point form of unordered lists */
  margin: 10;
  padding: 0;
  list-style: none;
}

nav li { /* makes the list horizontal instead of vertical */
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

nav a {
  color:white;
  text-decoration: none;
}