body {background-color: lightgray;} /* makes background color light gray */

.center { /* centers the text */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
}

.centerimg { /* centers the image */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  text-align: center;
}

/* I don't completely understand this yet, but it keeps the navbar from shrinking. 
Usually floating to the left would make the navbar 0 pixels, but this block of code keeps it black background */
header::after { 
  content: '';
  display: table;
  clear: both;
}

header { /* Makes the navbar black */
  background-color: black;
}

nav { /* makes all the options float to the left */
  float: left;
}

nav ul { /* removes the points from the typical point form of unordered lists */
  margin: 10;
  padding: 0;
  list-style: none;
}

nav li { /* makes the list horizontal instead of vertical */
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

nav a { /* makes font white and removes the purple */
  color:white;
  text-decoration: none;
  position:relative;
  transition: 0.8s all linear;
  padding: 5px 10px;
}

nav a:hover { /* changes font color to black on mouse hover */
  color: black;
  background-color: #ddd;
}

/* I don't really understand this but it's necessary for the hover effect */
nav a::before { 
  content: '';
  display: block;
  height: 5px;
  background-color: white;
  position:absolute;
  bottom: 0;
  left: 50%;
  height: 0;
  width: 0;
  z-index: -1;
}

/* I don't really understand this but it's necessary for the hover effect */
nav a:hover::before {
  width: 100%;
  height: 100%;
}